 body, html {
	 height: 100%;
 }

 .imghold{
	background-blend-mode: lighten;
    background-image: url('../Images/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;

  }

  .imgsize
  {
	  position: absolute;
	  top: auto;
  }

  .description{
	  position: absolute;
	  top: auto;
	  float: left;
	  width: auto;
	  height: auto;
	  color: black;
  }

  .container{
	  position: relative;
  }

  .container1{
	  position: relative;
  }

  .footer
  {
	position: absolute;
	overflow: auto;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	background-color: rgb(51, 51, 51);
	color: white;
	text-align: center;
	font-size: 15pt;

  }
   .footer a:link {
	color: white;
	text-decoration: none;
  }
   .footer a:visited {
	color: white;
	text-decoration: none;
  }
  .footer a:hover {
	text-decoration: underline;
  }
  .footer a:active {
	text-decoration: underline;
  }
