 body, html {
	 height: 100%;
 }

 .imghold{
	background-blend-mode: lighten;
    background-image: url('../Images/background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;

  }

  .imgsize
  {
	  position: absolute;
	  top: auto;
  }

  .description{
	  position: absolute;
	  top: auto;
	  float: left;
	  width: auto;
	  height: auto;
	  color: black;
  }

  .container{
	  position: relative;
  }

  .container1{
	  position: relative;
  }
