body, html {
    height: 100%;
    margin: 0;
}

.bgimg-1{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Images/Test.png");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .toplink{
      color: inherit;
      text-decoration: none;
	  transition: letter-spacing 0.8s, font-size 0.8s;
  }