 .imghold {
	margin: 0;
	background-blend-mode: lighten;
	background-image: url('../Images/indexbgr.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;
  }

 .content_container {
	margin: auto;
	max-width: 96%;
}

.heading_d {
	margin: inherit;
	background: rgb(180, 180, 180);
		background: radial-gradient(circle, rgba(180, 180, 180, 0.45) 0%, rgba(180, 180, 180, 0.1) 100%);
		border: 3px solid rgba(0, 0, 0, 0);
	}

		.heading_d h2,h4 {
			text-align: center;
			text-decoration: underline;
		}

		.heading_d hr {
			max-width: 100%;
			background-color: rgb(27, 27, 27);
			border: 1px solid rgb(24, 24, 24);
		}

	.first_section {
		margin: inherit;
		max-width: 98%;
	}

		article {
			width: auto;
			background: rgb(180, 180, 180);
			background: linear-gradient(90deg, rgba(180, 180, 180, 0.45) 0%,  rgba(180, 180, 180, 0.3) 10%, rgba(180, 180, 180, 0.28) 20%, rgba(180, 180, 180, 0.15) 50%, rgba(180, 180, 180, 0.2) 100%);
		}

		article p::first-line {
			text-indent: 2.5%;
		}

		article p {
			text-indent: 1.5%;
		}

		.pdflink:link {
			color: rgb(48, 48, 48);
		}

		.pdflink:visited {
			color: rgb(48, 48, 48);
		}

	::selection {
	background-color: black;
	color: white;
}

