 .imghold {
	margin: 0;
	background-blend-mode: lighten;
	background-image: url('../Images/indexbgr.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;
  }

 .content_container {
	margin: auto;
	max-width: 96%;
	text-transform: capitalize;
}

	.heading_d {
		margin: inherit;
		margin-top: 25px;
		max-width: 48%;
		background-color: rgba(180, 180, 180, 0.192);
		border: 3px solid rgba(0, 0, 0, 0);
		border-radius: 32px;
	}

		.heading_d h2,h4 {
			max-width: 80%;
			text-align: center;
			text-decoration: underline;
			text-indent: 18%;
		}

		.heading_d hr {
			max-width: 100%;
			height: 7px;
			background-color: rgb(27, 27, 27);
			border: 1px solid rgb(24, 24, 24);
			border-radius: 6px;
		}

	.first_section {
		margin: inherit;
		max-width: 98%;
	}

		article {
			padding: 1px;
			margin-top: 4px;
			width: auto;
			border-radius: 32px;
			background: rgb(180,180,180);
			background: linear-gradient(90deg, rgba(180,180,180,0.1) 0%, rgba(180,180,180,0.05) 52%, rgba(255,255,255,0) 100%);
		}

		article p::first-line {
			text-indent: 2.5%;
		}

