/*under 425px*/
@media only screen and (max-width: 424px){
	.video_text {
		position: absolute;
		top: auto;
		left: 50%;
		float: left;
		width: auto;
		height: auto;
		color: white;
		font-size: 12pt;
	}

	.video_title {
		position: relative;
		float: left;
		display: block;
		font-size: auto;
	}

	.video_description {
		float: left;
		display: block;
	}

	.ytvideo {
		position: absolute;
		top: auto;
		left: 2%;
		height: 215px;
		width: 38%;
	}

	.body_container {
		margin: 14% auto auto auto;
	}
}

/*under 765px*/
@media only screen and (max-width: 767px)  and (min-width: 425px) {
    .video_text {
		position: absolute;
		top: auto;
		left: 50%;
		float: left;
		width: auto;
		height: auto;
		color: white;
		font-size: 14pt;
	}

	.video_title {
		position: relative;
		float: left;
		display: block;
		font-size: auto;
	}

	.video_description {
		float: left;
		display: block;
	}

	.ytvideo {
		position: absolute;
		top: auto;
		left: 2%;
		height: 250px;
		width: 42%;
	}

	.body_container {
		margin: 9% auto auto auto;
	}
}

/*under 1080px*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
	.video_text {
		position: absolute;
		top: auto;
		left: 50%;
		float: left;
		width: auto;
		height: auto;
		color: white;
		font-size: 20pt;
	}

	.video_title {
		position: relative;
		float: left;
		display: block;
	}

	.video_description {
		float: left;
		display: block;
	}

	.ytvideo {
		position: absolute;
		top: auto;
		left: 2%;
		height: 315px;
		width: 46%;
	}

	.body_container {
		margin: 7% auto auto auto;
	}
}

/* 720p */
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
    .video_text {
        position: absolute;
        top: auto;
        left: 42%;
        float: left;
        width: auto;
        height: auto;
        color: white;
	}

	.video_title {
        position: relative;
        float: left;
        display: block;
	}

	.video_description {
        float: left;
        display: block;
	}

	.ytvideo {
        position: absolute;
        top: auto;
        left: 1%;
        height: 315px;
        width: 38%;
	}

	.body_container {
		margin: 5% auto auto auto;
	}
}

/* over 1441 px*/
@media only screen and (min-width: 1441px) {
    .video_text {
        position: absolute;
        top: auto;
        left: 32%;
        float: left;
        width: auto;
        height: auto;
        color: white;
	}

	.video_title {
        position: relative;
        float: left;
        display: block;
	}

	.video_description {
        float: left;
        display: block;
	}

	.ytvideo {
        position: absolute;
        top: auto;
        left: 1%;
        height: 315px;
        width: 29.5%;
	}

	.body_container{
		margin: 4% auto auto auto;
	}
}
