/*under 425px*/
@media only screen and (max-width: 424px){
	.imgsize
	{
		width: 13%;
		height: 90px;
		left: 1.5%;
		margin: 10px;
	}
	.description{
		left: 20%;
		font-size: 10pt;
	}
	.fontsize
	{
		font-size: 12pt;
	}
	.container{
		top: 160px;
	  }
	.container1{
		top: 325px;
	  }
}
/*under 768px*/
@media only screen and (max-width: 767px) and (min-width: 425px) {
	.imgsize
	{
		width: 13%;
		height: 90px;
		left: 1.5%;
		margin: 10px;
	}
	.description{
		left: 20%;
		font-size: 10pt;
	}
	.fontsize
	{
		font-size: 12pt;
	}
	.container{
		top: 160px;
	  }
	.container1{
		top: 325px;
	  }
}
/*under 1200px*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {

	.imgsize
	{
		width: 11%;
		height: 115px;
		left: 1.5%;
		margin: 10px;
	}
	.description{
		left: 15%;
		font-size: 13pt;
	}
	.fontsize
	{
		font-size: 13pt;
	}
	.container{
		top: 140px;
	  }
	.container1{
		top: 280px;
	  }
}
/* 720p */
@media only screen and (min-width: 1081px) and (max-width: 1440px) {
	.imgsize
	{
		width: 11%;
		height: 140px;
		left: 1.5%;
		margin: 10px;
	}
	.description{
		left: 15%;
		font-size: 13pt;
	}
	.fontsize
	{
		font-size: 17pt;
	}
	.container{
		top: 170px;
	  }
	.container1{
		top: 340px;
	  }
}
/* 1920 p*/
@media only screen and (min-width: 1441px) {
	.imgsize
	{
		width: 11.5%;
		height: 190px;
		left: 1.5%;
		margin: 10px;
	}
	.description{
		left: 15%;
		font-size: 15pt;
	}
	.fontsize
	{
		font-size: 18pt;
	}
	.container{
		top: 235px;
	  }
	.container1{
		top: 470px;
	  }
}
