@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 1080px) {

}

@media only screen and (min-width: 1081px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1441px) {

}
