body {
    font-size: 28px;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    left:0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: -webkit-grab; 
    cursor: grab;
  }

  .navbar li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .header_image{
      width: 100%;
      position:static;
      top:0px;
      left:0px;
  }
  
  .flex-container {
    display: flex;
  }