/*Common CSS file for all pages for a video on a topic*/

body, html {
	height: auto;
	color: white;
	margin: 0;
}

.imghold {
	margin: 0;
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.imgproducing {
	background-image: url('../Images/Energybgr1.jpg');
}

.imgstoring {
	background-image: url('../Images/Energybgr2.jpg');
}

.imgtransmitting {
	background-image: url('../Images/Energybgr3.jpg');
}

.ytvideo {
	display: block;
	position: relative;
	top: auto;
	left: 0%;
	width: 65%;
	height: 500px;
	margin: 1%;
	border: 1px solid white;
}

.title {
	text-align: center;
}

.heading_d hr {
	max-width: 60%;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
	height: 3px;
	border-radius: 6px;
}

.summary {
	text-align: center;
}

.description {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}
.wip
{
	text-align: center;
	margin-left: 18%;
	margin-right: 18%;
}
p {
	width: auto;
	background: rgba(34, 34, 34, 0.7);
	padding: 18px;
	margin-top: 3px;
	border-radius: 6px;
}

/*under 425px*/
@media only screen and (max-width: 424px) {
	.ytvideo {
		height: 250px;
	}

	.description {
		font-size: 12pt;
	}
}

/*under 765px*/
@media only screen and (max-width: 767px)  and (min-width: 425px) {
	.ytvideo {
		height: 300px;
	}

	.description {
		font-size: 15pt;
	}
}

/*under 1080px*/
@media only screen and (min-width: 768px) and (max-width: 1080px) {
	.ytvideo {
		height: 350px;
	}

	.description {
		font-size: 16pt;
	}
}
