body, html {
	height: auto;
	color: white;
	margin: 0;
}

.imghold {
	margin: 0;
	background-blend-mode: lighten;
	background-image: url('../Images/Energybgr3.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;
}

.ytvideo {
	display: block;
	position: relative;
	top: auto;
	left: 0%;
	height: 500px;
	width: 65%;
	border: 1px solid white;
	background: rgba(34, 34, 34, 0.7);
}

.title {
	text-align: center;
}

.heading_d hr {
	max-width: 60%;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
	height: 3px;
	border-radius: 6px;
}

.summary {
	text-align: center;
}

.description {
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

p {
	width: auto;
	background: rgba(34, 34, 34, 0.7);
	padding: 1px;
	margin-top: 3px;
	border-radius: 32px;
}
