  .body_container{
    width: auto;
	height: auto;
  }

  .container{
    position: relative;
    top: 340px;
  }

  .container1{
    position: relative;
    top: 690px;
  }

  body{
	margin: 0;
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
