  .body_container{
    width: auto;
	height: auto;
	margin: 3% auto auto auto;
 }

  .container{
    position: relative;
    top: 340px;
  }

  .container1{
    position: relative;
    top: 690px;
  }

  .imghold{
	margin: 0;
	background-blend-mode: lighten;
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: auto;
  }
